/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* UTILITIES */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.mb-30 {
    margin-bottom: 30px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.pd-lr-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.pd-tb-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.bg-type-1 {
    background: #e579e6;
}

.bg-type-2 {
    background: #e1d67a;
}

.bg-type-3 {
    background: #0087ff;
}

.bg-type-4 {
    background: #8801fe;
}

/* debug */
.debug-box-1,
.debug-box-2 {
    height: 100px;
}

.debug-box-1 {
    background: rgba(255,255,255,0.4);
}

/* HEADER */
header .logo {
    height: 100px;
    margin-top: 20px;
}

.main-menu > li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.main-menu > li:last-of-type {
    margin-right: 0;
}

.main-menu > li > a {
    text-decoration-line: none;
    text-transform: uppercase;
    color: #858585;
}

.main-menu > li > a:hover {
    color: #000;
}

/* MAIN CONTENT */
div.col aside {
    width: 20%;
}

div.col section {
    width: 60%;
}

.sidebar,
.main-content {
    float: left;
}
